*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#title{
    background-color: #71c4cf;
    font-size: larger;
    text-align: center;
    padding: 20px;
    font-family:cursive;
    color: aliceblue;
}
#game-board{
    background-image: url('Design\ sem\ nome\ \(14\).png');
    height: 450px;
    position: relative;
}
.bee{
    position:absolute;
    height: 60px;
    top:170px;
    left: 140px;
}