*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    font-size: larger;
    text-align: center;
    color: white;
    background-color: rgb(81, 182, 255);
}
h1{
    font-family: fantasy;
}
.game-board{
    width: 100%;
    height: 500px;
    background: linear-gradient(rgb(81, 182, 255),white);
    overflow: hidden;
    position: relative;
    border-bottom: 15px solid green;
    margin: 0, auto;
}
.pipe{
   position: absolute;
   bottom: 0;
   left: 125px;
   width: 80px;
}

.mario2{
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 75px;
    margin-left: 50px;
}

.jump{
    animation: mario-jump 500ms ease-out;
}

@keyframes mario-jump{
    0%{bottom: 0px;}
    40%{bottom: 180px;}
    50%{bottom: 180px;}
    60%{bottom: 180px;}
    100%{bottom: 0px;}
}

.btn{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    border: green 2px solid;
    background-color: white;
    color: green;
    text-decoration: none;
}

a{
    text-decoration: none;
}